<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/frontend/static/css/global.css" />
    <link rel="stylesheet" href="/frontend/static/css/market_allcrypto.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira Code:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="all-cryptos">
      <div class="all-cryptos-child"></div>
      <div class="rectangle-parent" autofocus id="market">
        <div class="group-child"></div>
        <div class="market">Market</div>
      </div>
      <button class="rectangle-group" autofocus id="p2p_buy">
        <div class="group-item"></div>
        <div class="p2p">P2P</div>
      </button>
      <div class="rectangle-container" id="logout">
        <div class="group-inner"></div>
        <div class="logout">Logout</div>
      </div>
      <button class="group-button" autofocus id="dashboard">
        <div class="rectangle-div"></div>
        <div class="dashboard">Dashboard</div>
      </button>
      {% if jsondata|length > 0 %}
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>24h Change</th>
            <th>24h Low</th>
            <th>24h High</th>
            <th>24h Turnover</th>
            <th>Favourites</th>
          </tr>
        </thead>
        <tbody>
        {% for data in jsondata %}
        <tr>
          <td>{{data['symbol']}}</td>
          <td>{{data['last_price']}}</td>
          <td>{{data['24h_change']}}</td>
          <td>{{data['24h_low']}}</td>
          <td>{{data['24h_high']}}</td>
          <td>{{data['24h_turnover']}}</td>
          {% if data['fav_crypto'] %}
            <td>
              <!-- <button type="button" class="btn btn-outline-success" , style="background-color:rgb(0, 187, 255); font-size: 20px;" onclick="location.href='{{url_for('user_profile')}}'">UnMark Favourite</button> -->
              <a href="/mark_unfav/{{data['symbol']}}" type="button" autofocus_id="mark_unfav" class="btn btn-outline-dark btn-sm mx-1">Mark Unfavourite</button>
            </td>
          {% else %}
            <td>
              <a href="/mark_fav/{{data['symbol']}}" type="button" autofocus_id="mark_fav"  class="btn btn-outline-dark btn-sm mx-1">Mark Favourite</button>
            </td>
          {% endif %}
        
      </tr>
      {% endfor %}
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    {% endif %}

      
       
      
      <div class="rectangle-parent5">
        <div class="group-child8"></div>
        <div class="markets-overview">Markets OverView</div>
      </div>
      <div class="all-cryptos-inner" id="groupContainer14" >
        <div class="rectangle-parent6" >
          <div class="group-child9" autofocus id="favorites"></div>
          <img class="image-6-icon" alt="" src="/frontend/static/images/non_fav.png" />
          <div class="favorites">Favorites</div>
        </div>
      </div>
      <div class="all-cryptos-inner1">
        <div class="rectangle-parent7">
          <div class="group-child10"></div>
          <div class="all-cryptos1">All Cryptos</div>
        </div>
      </div>
      <b class="coinfun">Coinfun</b>
    </div>

    <script>
      var groupButton = document.getElementById("p2p_buy");
      if (groupButton) {
        groupButton.addEventListener("click", function (e) {
          window.location.href = "/p2p_buy";
        });
      }
      
      
      
      var groupButton1 = document.getElementById("favorites");
      if (groupButton1) {
        groupButton1.addEventListener("click", function (e) {
          window.location.href = "/market_fav";

          // Please sync "dashboard" to the project
        });
      }
      
      var groupContainer3 = document.getElementById("dashboard");
      if (groupContainer3) {
        groupContainer3.addEventListener("click", function (e) {
          // Please sync "BTC Graph" to the project
          window.location.href = "/dashboard";
        });
      }
      
      var groupContainer14 = document.getElementById("logout");
      if (groupContainer14) {
        groupContainer14.addEventListener("click", function (e) {
          window.location.href = "/login";
          // Please sync "Favourites" to the project
        });
      }
      var btn = document.getElementById("mark_unfav");
      if (btn) {
        btn.addEventListener("click", function (e) {
          btn.innerHTML= "Mark Favourite";
          // Please sync "Favourites" to the project
        });
      }
      var btn1 = document.getElementById("mark_fav");
      if (btn1) {
        btn1.addEventListener("click", function (e) {
          btn1.innerHTML= "Mark UnFavourite";
          // Please sync "Favourites" to the project
        });
      }
      </script>
  </body>
</html>