{% extends 'base.html' %}
{% block title %}
user-profile
{% endblock title %}

{% block link %}
rel="stylesheet" href="{{url_for('static',filename='css/user_profile.css')}}"
{% endblock link %}

{%block body %}
<h1 style="color: rgb(255, 0, 157); margin-left: 800px; font-size: 60px;">Coinfun</h1>
  <div class="user_profile">
    <div class="user_profile1" style="margin-left: 100px;">
      <p>Username: {{data['username']}}</p>
      <p>Email: {{data['email_id']}}</p>
      <p>Phone: {{data['contact_number']}}</p>
      <p>Status: {{data['kyc']}}</p>
    </div>
    <div class="change_photo">
      {% if data['profile_pic']|length > 0 %}
        <img src="data:image/png;charset=utf-8;base64,{{ data['profile_pic'] }}" alt="Profile_Pic"
        style="margin-right: 100px; margin-top: 100px; height: 150px; width: 150px; border-radius: 20px; ">
      {% else %}
        <img src="{{url_for('static',filename='images/blank.jpg')}}" alt="Profile_Pic" style="margin-right: 100px; margin-top: 100px; height: 150px; width: 150px; border-radius: 20px;">
      {% endif %}
      <form action="/upload_pic" method="POST" enctype="multipart/form-data">
        <input type="file" name="photo">
        <button type="submit" class="btn btn-success"
          style="font-size: 30px; color: yellow; background-color: black; border-radius: 10px; margin-top: 20px; margin-right: 70px;">Change Photo
        </button>
      </form>
    </div>
    {% if msg|length > 0 %}
      <h2>{{msg}}</h2>
    {% endif %}


<script>
  var groupButton = document.getElementById("logout");
  if (groupButton) {
    groupButton.addEventListener("click", function (e) {
      // Please sync "All Cryptos" to the project
      window.location.href = "/";
    });
  }

  var groupButton1 = document.getElementById("p2p_buy");
  if (groupButton1) {
    groupButton1.addEventListener("click", function (e) {
      // Please sync "P2P Buy" to the project
      window.location.href = "/p2p_buy";
    });
  }

  var groupContainer = document.getElementById("market");
  if (groupContainer) {
    groupContainer.addEventListener("click", function (e) {
      // Please sync "login" to the project
      window.location.href = "/market_allcrypto";
    });
  }

  var groupButton2 = document.getElementById("dashboard");
  if (groupButton2) {
    groupButton2.addEventListener("click", function (e) {
      window.location.href = "/dashboard";
    });
  }
</script>

{% endblock body %}